@import "~src/assets/css/variables";

.welcome-message {
    text-align: center;
    padding: 2em 1em ;
    background-color: $color-greenish-gray;
    border: 1px dashed $color-light-gray;
}

.movies-listing {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.movie-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-details.loading {
    min-height: 230px;
    margin: 0.5em;
}

.search-loader {
    min-height: 600px;
}