@import "~src/assets/css/variables";

.error-message {
    text-align: center;
    padding: 2em 1em;
    background-color: $color-error-bg;
    border: 1px dashed $color-error-red;
    color : $color-error-red;
}