@import "~src/assets/css/variables";

.header_search {
    align-items : center;

    input {
        outline: 0;
        border-width: 0 0 1px;
        border-color: $color-light-gray;
        height: 30px;
        margin:0 10px;
        width: 150px;
    }

    input:focus {
        border-color: $color-light-gray;
    }

    input.ng-invalid.ng-touched {
        border-color: $color-error-red;
    }
}