.btn {
    border-radius: 4px;
    padding: 1em 1.3em;
    font-size: 10px;
    transition: 0.2s all;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &-primary {
        background: $primary;
        border-color: $primary;
        color: #fff;
    }

    &:focus {
        outline : none;
    }
}