.ngx-pagination {
    .disabled {
        color: #d2d5d9;
    }

    a {
        color :#3b3e3f;
        border-radius: 4px !important;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #f2f5f7 !important;
        }
    }

    li {
        border-radius: 4px !important;
        margin: 0 0.5em;
        
    }

    .pagination-previous, .pagination-next {
        text-transform: uppercase;
        font-size: 10px;
    }
    
    .current {
        background : $primary !important;
    }
} 