$sm_screen : 576px;
$md_screen : 768px;
$lg_screen : 992px;
$xl_screen : 1200px;

// colors 
$color-primary : #307cfb;
$color-white : #fff;
$color-body-bg : #fcfcfd;
$color-light-black : #3b3e3f;
$color-light-gray : #ecedee;
$color-shadow-gray : #eeeeee;
$color-error-red : #e41b4d;
$color-error-bg : #fdecf0;
$color-greenish-gray : #f2f5f7;
$color-disabled : #d2d5d9;