
<label class="hidden-md show-xm text-center">
    Showing {{startCurrPageNumber}} - {{endCurrPageNumber}} of {{config.totalItems}} Items
</label>
<div class="d-flex justify-space-between pagination">
    <label class="hidden-xm pagination-caption">
        Showing {{startCurrPageNumber}} - {{endCurrPageNumber}} of {{config.totalItems}} Items
    </label>
    <div class="pagination-pages">
        <a *ngIf="config.currentPage > 1" (click)="pageChanged(config.currentPage - 1)">&laquo;</a>
        <ng-container *ngIf="this.numPages > displayNumPages && config.currentPage > 1">
            <a (click)="pageChanged(1)" >1</a>
            <span>...</span>
        </ng-container>
        <a *ngFor='let page of this.pageNumbers' 
            [hidden]="this.numPages > displayNumPages  &&  
                (page > config.currentPage + (displayNumPages - 1) || page < ((config.currentPage + displayNumPages) - displayNumPages))" 
            [ngClass]="{'active' : config.currentPage === page}" (click)="pageChanged(page)">
            {{page}}
        </a>
        <ng-container *ngIf="(this.numPages - config.currentPage) > (displayNumPages - 1)">
            <span>...</span>
            <a (click)="pageChanged(this.numPages)">{{this.numPages}}</a>
        </ng-container>
        <a *ngIf="config.currentPage !== this.numPages" (click)="pageChanged(config.currentPage + 1)">&raquo;</a>
    </div>  
</div>


