@import "~src/assets/css/variables";

.pagination {
    font-size: 12px !important;
    align-items : center;
    background-color: $color-greenish-gray;
    margin: 1.5em 0;
    padding: 0.5em;

    &-caption {
        margin-left: 1em;
        min-width: 20%;
    }

    &-pages-caption {
        font-size: 14px;
        margin-right: 1em;
    }

    &-pages {
        flex-wrap:wrap;
        justify-content:center;
        a {
            color: $color-light-black;
            padding: 0.5em 0;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
            box-sizing: border-box;
            width: 30px;
            text-align: center;

            &.active {
                background-color: $color-primary;
                color: $color-white;;
            }

            &:hover:not(.active) {
                background-color: $color-light-gray;
            }
        }

        span {
            color: $color-light-black;
            padding: 0.5em 0;
            display: block;
            border-radius: 4px;
            box-sizing: border-box;
            width: 30px;
            text-align: center;
        }
    }

    
}

.pagination-caption-xm {
    margin-top: 1.5em;
    text-align: center;
}
