@import "~src/assets/css/variables";

.pagination {
    font-size: 12px !important;
    align-items : center;
    background-color: $color-greenish-gray;
    margin-top: 1.5em;

    &-caption {
        margin-left: 1em;
    }

    &-info {
        align-items : center;
        label {
            margin: 0 1em;
        }

        select {
            border-color: $color-light-gray;
            background-color: $color-white;
            padding: 0.5em;

            &:focus {
                outline: none;
            }
        }
    }
}

::ng-deep {
    .ngx-pagination {
        .disabled {
            color: $color-disabled ;
        }
    
        a {
            color :$color-light-black !important;
            border-radius: 4px !important;
    
            &:focus {
                outline: none;
            }
    
            &:hover {
                background-color: $color-greenish-gray!important;
            }
        }
    
        li {
            border-radius: 4px !important;
            margin: 0 0.5em;
            
        }
    
        .pagination-previous, .pagination-next {
            text-transform: uppercase !important;
            font-size: 10px !important;
        }
        
        .current {
            background : $color-primary !important;
        }
    } 
}
